doctype html 
html(lang="en")
    head 
        title Tatoo
        link(rel="stylesheet" href="../styles/style.css")
        script(defer src="/src/js/simple-adaptive-slider.min.js")
        script(defer src="/src/js/slider.js") 
        script(defer src="/src/js/headContacts.js")
        script(defer src="/src/js/catalog.js")
        script(defer src="/src/js/smoothScroll.js")
        script(defer src="/src/js/favorite.js")
        script(defer src="https://unpkg.com/micromodal/dist/micromodal.min.js")
        script(defer src="/src/js/micromodal.js")
        link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.9.0/slick/slick.css")
        link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.9.0/slick/slick-theme.css")
         
    body 
        header
            include include/header.pug
            include include/modalCatalog.pug
            include include/slider.pug
            include include/modal.pug
            include include/micromodal.pug
        include include/shop.pug
        include include/catalog.pug
        include include/brands.pug
        include include/about.pug
        include include/sub.pug
        include include/footer.pug
        script(src="https://code.jquery.com/jquery-3.6.0.min.js")
        script(src="/src/js/slick.min.js")
        script(src="/src/js/slick.js") 
        script(src="/src/js/modal.js") 
        