@import "./vars";
@import "./mixin";
@import "./fonts";
@import "./basestyles";

.modal {
  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 101;
  }
  &__container {
    background-color: $background;
    padding: 30px;
    max-width: 430px;
    width: 430px;
    max-height: 100vh;
    overflow-y: auto;
    box-sizing: border-box;
    font-family: "Jost";
  }
  &__header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  &__auth {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__inp {
    width: 313px;
    height: 70px;
    background-color: #f5f5f5;
    outline: none;
    border: none;
    padding: 23px 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    caret-color: #636b78;
    color: #3e424b;
    font-size: 15px;
    margin-bottom: 20px;
  }
  &__btn {
    background-image: url(/build/img/brownblock.png);
    width: 343px;
    height: 70px;
    outline: none;
    border: none;
    font-size: 20px;
    color: $white;
    font-weight: 400;
    cursor: pointer;
  }
  &__title {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 30px;
    color: $dark;
    box-sizing: border-box;
    text-align: center;
  }
  &__text {
    color: $gray2;
    font-size: 17px;
    width: 115px;
    margin-bottom: 20px;
  }
  &__close {
    background: transparent;
    border: 0;
  }

  &__header &__close:before {
    content: "\2715";
  }
}

@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}

.micromodal {
  &-slide {
    display: none;
  }
  &-slide.is-open {
    display: block;
  }
  &-slide[aria-hidden="false"] .modal__overlay {
    animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
  }
  &-slide[aria-hidden="false"] .modal__container {
    animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
  }
  &-slide[aria-hidden="true"] .modal__overlay {
    animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
  }
  &-slide[aria-hidden="true"] .modal__container {
    animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
  }
  &-slide .modal__container,
  &-slide .modal__overlay {
    will-change: transform;
  }
}
