$dark-gray: #050402;
$dark1: #030201;
$white: #faf6f2;
$card: #f5f5f5;
$gray: #d0d0d0;
$gray2: #636b78;
$gold: #bb8c5f;
$gold-opacity: #524336;
$gold-bright: #ac6b2d;
$dark: #3e424b;
$background: #eee;
$best: #755fbb;
$stock: #5fbba3;
$no: #636b78;
$sale: #c82a2a;
