mixin big-line 
    .line-wrapper 
        .triangle.triangle-left 
        .line-b
        .triangle.triangle-right

.modalmenu
    .modalmenu__line
        +big-line
    ul.modalmenu__ul 
        each item in ['Каталог','Контакты','Промокоды','Скидки','Помощь','О нас','Избранное','Личный кабинет']
            if item == 'Каталог'
                li.modalmenu__ul-li=item
                .modalmenu__one 
                    .modalmenu__one_line 
                    ul.modalmenu__ul 
                        each item in ['Новинки','Наборы для татуировок','Тату машинки','Тату краски','Тату иглы','Тату держатели','Тату наконечники','Блоки питания','Педали и провода','Аксессуары','Принтеры и планшеты','Защита, ёмкостиБ расходн...']
                            a(href="#")
                                li.modalmenu__one__ul-li=item
            else
                a(href="#")
                    li.modalmenu__ul-li=item
    .modalmenu__search
        form(action="#").search
            input(type="text" placeholder="Поиск").search-input
            input(type="submit" value="").search-btn
    .modalmenu__line
        +big-line
    .footer__tablet
        .container
            .footer_wrapbot
                .footer__block_right
                    .footer__block_row 
                        a(href="#")
                            .footer__social_icon
                            .footer__social_text 8 800 600-61-91
                        .footer__wrapper-icon
                            .footer__icon 
                            .footer__icon 
                            .footer__icon 
                    p.footer__time Время работы: с 9:00 до 20:00 по мск
                    .header__email
                            a(href="#")
                                .header__email_icon 
                                .header__email_main Mr.Driskell@mail.ru