mixin card (name,cost,url,special)
    .card 
        if special == 'new'
            .card__top_special.card__top_special-new Новинка
        else if special == 'best'
            .card__top_special.card__top_special-best Хит продаж
        else if special == 'stock'
            .card__top_special.card__top_special-stock Акция
        else if special == 'no'
            .card__top_special.card__top_special-no Нет на складе
        else if special == 'sale'
            .card__top_special.card__top_special-sale Скидка
        .card__top_like
        img(src=""+url alt="card").card-image
        .card-name=name
        .card-price=cost
        .card-buy
            .blockFigure.blockFigure-card
                .blockFigure_rect1.blockFigure-card_rect1
                a(href="#")
                    .blockFigure_block.blockFigure-card_block Добавить в корзину
                .blockFigure_rect2.blockFigure-card_rect2

mixin small-line 
    .line-wrapper 
        .square-left 
        .line-s 
        .square-right

.shop 
    .container 
        .shop__heads 
            .shop__heads-wrapper
                span.shop__heads_header Товары со скидкой
                .shop__heads_line
                    +small-line
            .shop__heads-wrapper
                span.shop__heads_header Самые популярные
                .shop__heads_line
                    +small-line
            .shop__heads-wrapper
                span.shop__heads_header Новые поступления
                .shop__heads_line
                    +small-line
            .shop__heads-wrapper
                span.shop__heads_header Акционные товары
                .shop__heads_line
                    +small-line
        .shop__new
            .shop__card-box 
                +card('Foxxx Viper Fox Golden Vintage Lot #1 RCA','8 730 ₽','/build/images/card1.png','new')
                +card('Foxxx Kitsune Mini Black Vintage RCA','6 000 ₽','/build/images/card2.png','new')
                +card('Нитровиниловые перчатки Wally Plastic S','20 ₽','/build/images/card3.png','new')
                +card('Forever Cartridge Grip Ergo 30 mm Огненно-Рыжий','2 037 ₽','/build/images/card4.png','new')
            .shop__card-box 
                +card('Cyborg Machines Alter Rotary Axis Cross Sexy Nymph','2 730 ₽','/build/images/card5.png','new')
                +card('Deuce Machines Direct Drive #7 RCA Samurai','8 000 ₽','/build/images/card6.png','new')
                +card('Verge Direct 2.1 Gunmetal','11 000 ₽','/build/images/card7.png','new')
                +card('Verge Direct 2.1 Pink gip EGO 4 mm liners','10 937 ₽','/build/images/card8.png','new')
        .shop__best
            .shop__card-box 
                +card('Foxxx Viper Fox Golden Vintage Lot #1 RCA','8 730 ₽','/build/images/card1.png','best')
                +card('Foxxx Kitsune Mini Black Vintage RCA','6 000 ₽','/build/images/card2.png','best')
                +card('Нитровиниловые перчатки Wally Plastic S','20 ₽','/build/images/card3.png','best')
                +card('Forever Cartridge Grip Ergo 30 mm Огненно-Рыжий','2 037 ₽','/build/images/card4.png','best')
            .shop__card-box 
                +card('Cyborg Machines Alter Rotary Axis Cross Sexy Nymph','2 730 ₽','/build/images/card5.png','best')
                +card('Deuce Machines Direct Drive #7 RCA Samurai','8 000 ₽','/build/images/card6.png','best')
                +card('Verge Direct 2.1 Gunmetal','11 000 ₽','/build/images/card7.png','best')
                +card('Verge Direct 2.1 Pink gip EGO 4 mm liners','10 937 ₽','/build/images/card8.png','best')
        .shop__sale
            .shop__card-box 
                +card('Foxxx Viper Fox Golden Vintage Lot #1 RCA','8 730 ₽','/build/images/card1.png','sale')
                +card('Foxxx Kitsune Mini Black Vintage RCA','6 000 ₽','/build/images/card2.png','sale')
                +card('Нитровиниловые перчатки Wally Plastic S','20 ₽','/build/images/card3.png','sale')
                +card('Forever Cartridge Grip Ergo 30 mm Огненно-Рыжий','2 037 ₽','/build/images/card4.png','sale')
            .shop__card-box 
                +card('Cyborg Machines Alter Rotary Axis Cross Sexy Nymph','2 730 ₽','/build/images/card5.png','sale')
                +card('Deuce Machines Direct Drive #7 RCA Samurai','8 000 ₽','/build/images/card6.png','sale')
                +card('Verge Direct 2.1 Gunmetal','11 000 ₽','/build/images/card7.png','sale')
                +card('Verge Direct 2.1 Pink gip EGO 4 mm liners','10 937 ₽','/build/images/card8.png','sale')
        .shop__stock
            .shop__card-box 
                +card('Foxxx Viper Fox Golden Vintage Lot #1 RCA','8 730 ₽','/build/images/card1.png','stock')
                +card('Foxxx Kitsune Mini Black Vintage RCA','6 000 ₽','/build/images/card2.png','stock')
                +card('Нитровиниловые перчатки Wally Plastic S','20 ₽','/build/images/card3.png','stock')
                +card('Forever Cartridge Grip Ergo 30 mm Огненно-Рыжий','2 037 ₽','/build/images/card4.png','stock')
            .shop__card-box 
                +card('Cyborg Machines Alter Rotary Axis Cross Sexy Nymph','2 730 ₽','/build/images/card5.png','stock')
                +card('Deuce Machines Direct Drive #7 RCA Samurai','8 000 ₽','/build/images/card6.png','stock')
                +card('Verge Direct 2.1 Gunmetal','11 000 ₽','/build/images/card7.png','stock')
                +card('Verge Direct 2.1 Pink gip EGO 4 mm liners','10 937 ₽','/build/images/card8.png','stock')
        .shop_showMore 
            .blockFigure.blockFigure-card
                .blockFigure_rect1.blockFigure-card_rect1
                a(href="#")
                    .blockFigure_block.blockFigure-card_block(style="height:70px !important;line-height:70px !important") Показать еще
                .blockFigure_rect2.blockFigure-card_rect2
        ol.slider__indicators 
            li.slider__indicator
            li.slider__indicator
            li.slider__indicator.slider__indicator_active
            li.slider__indicator
            li.slider__indicator