.sub 
    .sub__wrapper 
        .sub-header Узнавайте первыми
        .sub-text Подпишитесь на новостную рассылку с самыми интересными новостями и акциями
        form(action="#").sub-form
            .sub-area-wrapper
                .sub__area 
                    p.sub__area-p Эл. почта
                    input(type="email" placeholder="Figur@mail.ru").sub__area-input
                .sub__area
                    p.sub__area-p Имя
                    input(type="email" placeholder="Введите имя").sub__area-input
            .sub-btn
                .blockFigure
                    .blockFigure_rect1 
                    a(href="#")
                        .blockFigure_block Подписаться
                    .blockFigure_rect2
    .sub__up
        a(href="#header" onclick="ScrollUp();return!1;")
            .sub__up_block 
                span.sub__up_block-text Вернуться вверх
                .sub__up_block-btn